<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{{range .Meta.Head}}{{.}}{{end}}

		<script>
			window.isSPAMode = {{.IsSPAMode}};
		</script>
		<script type="module" src="/core/app.js"></script>
		<link rel="stylesheet" type="text/css" href="/core/style.css" />

		{{range .Meta.CSSImports}}
		<link rel="stylesheet" href="{{.}}" />
		{{end}}

		<style>
			{{.Style}}
		</style>
		<link rel="stylesheet" href="{{.StyleURL}}" />
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/contact">Contact</a>
		</nav>
		<div id="app">{{.Content}}</div>

		{{range .Meta.JSImports}}
		<script src="{{.}}" defer></script>
		{{end}}

		<script src="{{.ScriptURL}}" defer>
			{{.Script}}
		</script>

		{{range $key, $value := .Meta.CustomFields}}
		<meta name="{{$key}}" content="{{$value}}" />
		{{end}}
	</body>
</html>
